#content {
    max-width:1600px;
    margin:0 auto;
}
img{
    width:100%;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #E07A5F;
    
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #F4F1DE;
    text-decoration: none;
    padding:35px;
}
nav a:hover{
    background-color: #F4F1DE;
    color: #E07A5F;
}
#logo_link {
    justify-self: center;
    align-self: center;
    margin-bottom: -50px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero img{
    height:700px;
    width: 100%;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.home-title{
    color: #188B7D;
    font-family: "dancing script";
    font-size: 2em;
    margin-top: 180px;
    
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1{
    text-align: center;
}
.button-box {
    text-align: center;
}
.trade_button{
    background-color: #424B54;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    padding:15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.trade_button:hover{
    background-color: #F4F1DE;
    color: #E07A5F;
    font-weight: bold;
}
body {
    background-color: white;
    font-family: "open Sans", Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
.main-msg{
  text-align: center;
  width: 70%;
  margin: 50px auto;
  border: 3px solid #188B7D;
  padding: 20px 100px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container img{
  width:100%;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  position:relative;
  text-align: center;
  background-color: #E07A5F;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: -50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* End of slide show*/
.types{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin: 50px 100px;
}

.types a{
  font-family: "dancing script";
  color: #424B54;
  text-decoration:none;
}
.types a:hover{
  text-decoration: underline;
}
.types h3{
  margin-top: 0px;
}
.types img:hover{
  box-shadow: 5px 5px 10px #424B54;
}

.types img{
  border-radius: 50%;
  width:75%;
  height: 100%;
  border: 7px solid #188B7D;
}

.we_help{
  margin: 120px 150px 0px 150px;
  
}
.we_help h2{
  font-family: "dancing script";
  color: #188B7D;
}
footer{
  background-color: #E07A5F;
  padding:0px 50px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #F4F1DE;

}
.copy-right{
  display:flex;
}
footer .social img{
  width: 30%;
}

footer h3 a:hover{
  text-decoration: underline;
}
footer a{
  color: #424B54;
  text-decoration: none;
}
.copy-right h3:nth-of-type(1){
  font-family: "dancing script";
}

/* Beginning of Trade page */

* {
  box-sizing: border-box;
}
.bg-img{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-height: 900px;
}

video {
  position:absolute;
  z-index: -1;
  width: 100%;
}
.trade-title{
  grid-column:2/4;
  grid-row:3/4;
  margin: auto;
  color: #188B7D;
  font-family: "dancing script";
  font-weight:bolder;
  font-size:3em;
}
.container {
  position:relative;
  max-width: 300px;
  margin: 50px 50px;
  padding: 16px;
  background-color: white;
  grid-column: 4/4;
  grid-row: 4/4;
  opacity: 80%;
  font-family: "open sans";
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #E07A5F;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}


.shop-gender{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin: 60px 80px;
  padding: 20px;
  border-radius: 10px;
}

.shop-gender img{
  border-radius: 20px;
}
.women{
  width: 90%;
  margin: auto;
  margin-right:40px;
}
.women .button-box{
  position:absolute;
  top:40px;
  left:80px;
  z-index: 1;
}
.women-button{
  font-family: "dancing script";
  text-decoration: none;
  color: #F4F1DE;
  font-weight: 500;
  font-size: 1.5em;
  background-color: #188B7D;
  padding: 10px;
  border: double #F4F1DE;
}
.women-button:hover{
  border: double #424B54;
}
.women img{
  z-index: -1;
}

.men{
  width:90%;
  margin: auto;
  margin-left: 40px;
}
.men img{
  z-index: -1;
}
.men .button-box{
  position:absolute;
  top:40px;
  right:80px;
  z-index: 1;
}
.men-button{
  font-family: "dancing script";
  text-decoration: none;
  color: #F4F1DE;
  font-weight: 500;
  font-size: 1.5em;
  background-color: #188B7D;
  padding: 10px;
  border: double #F4F1DE;
}
.men-button:hover{
  border: double #424B54;
}
.sell{
  background-color: #188B7D;
  color: #F4F1DE;
  margin: 0px 1000px 0px 130px;
  padding: 5px 40px 40px 40px;
}
.sell h1{
  font-family: "dancing script";
}
.sell p{
  font-size: .8em;
}