#content {
    max-width:1600px;
    margin:0 auto;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #E07A5F;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #424B54;
    text-decoration: none;
    padding:35px;
}
nav a:hover{
    background-color: #F4F1DE;
    color: #E07A5F;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}