body{
    background-color: gray;
    text-align: center;
}

.all_circles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 75%;
    margin: 2% auto;
}
.circles{
    border-radius: 50%;
    border: 10px solid rgb(77, 75, 75);
    max-width: 200px;
    max-height: 200px;
    margin:auto;
}
